.theme-a .users .title {
  background-color: #eec563;
  color: #192b27;
}
.theme-b .users .title {
  background-color: #773b4f;
  color: #f3d2d7;
}
.theme-c .users .title {
  background-color: #3e495d;
  color: #e9f3fd;
}
.theme-d .users .title {
  background-color: #dfdfdd;
  color: #000;
}
.users {
  background-color: #f3f3f3;
  height: 100vh;
}
.users .title {
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  color: #fff;
  font-family: '微软雅黑';
  background-color: #343d4c;
}
.users .title span {
  padding-left: 15px;
}
.users .userscontainer {
  height: calc(100% - 40px);
  display: flex;
}
.users .userscontainer .usersaside .el-menu {
  width: 120px;
  height: inherit;
  background-color: #e1e1e1 ;
}
.users .userscontainer .usersaside .el-menu .el-menu-item.is-active {
  background-color: #d1dbe5;
}
