.bgimgsetting {
  width: 100%;
  padding: 20px;
}
.bgimgsetting .bgform {
  width: 100%;
}
.bgimgsetting .bgform .el-select-block {
  width: 100%;
}
.bgimgsetting .bgform .el-radio-group .el-radio {
  padding-top: 10px;
  padding-bottom: 15px;
}
.bgimgsetting .img p {
  width: 100%;
  margin-top: 0px;
  color: #97a8be;
}
.bgimgsetting .img .bgimg {
  width: 100%;
  height: 500px;
  background-color: #e1e1e1;
  display: flex;
  flex-wrap: wrap;
}
.bgimgsetting .img .bgimg .bg-grid {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgimgsetting .el-button {
  border-radius: 20px;
}
