.theme-a .signalsource .signaltreetools .table-btn:hover {
  color: #192b27;
  opacity: 0.7;
  background-color: #aedfda;
}
.theme-b .signalsource .signaltreetools .table-btn:hover {
  color: #f3d2d7;
  opacity: 0.7;
  background-color: #c45359;
}
.theme-c .signalsource .signaltreetools .table-btn:hover {
  color: #000;
  opacity: 0.7;
  background-color: #f0cf36;
}
.theme-d .signalsource .signaltreetools .table-btn:hover {
  background-color: #61a7b3;
  color: #dbeaed;
}
.signalsource {
  width: 100%;
  height: 99%;
  padding: 0px 10px;
  background-color: #e1e1e1;
}
.signalsource .maintitle {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #e1e1e1;
  font-size: 1rem;
  color: #000;
  font-family: '微软雅黑';
}
.signalsource .maintitle p {
  padding-left: 10px;
  margin: 0;
}
.signalsource .signaltreetools {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f3f3;
}
.signalsource .signaltreetools .table-btn {
  margin-right: 10px;
  border: none;
  font-size: 0.875rem;
}
.signalsource .signaltreetools .table-btn:hover {
  background-color: #bbd4f2;
  color: #000;
}
.signalsource .signaltree {
  background-color: #f3f3f3;
  height: calc(100% - 100px);
  border: 1px solid #ccc;
}
.signalsource .signaltree .el-input__inner {
  border: none;
}
.signalsource .signaltree .el-tree {
  height: calc(100% - 36px);
  overflow-y: auto;
  overflow-x: hidden;
}
.signalsource .signaltree .el-tree::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
.signalsource .signaltree .el-tree::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.signalsource .signaltree .el-tree::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bcbcbc;
}
.signalsource .signaltable {
  border: 1px solid #c9c9c9 ;
  background-color: #e7e7e7;
  height: calc(100% - 100px);
}
.signalsource .signaltable .el-input__inner {
  border: none;
}
.signalsource .signaltable .el-table {
  height: calc(100% - 36px);
}
.signalsource .signaltable .el-table .el-table__body-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}
.signalsource .signaltable .el-table .el-table__body-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
.signalsource .signaltable .el-table .el-table__body-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.signalsource .signaltable .el-table .el-table__body-wrapper::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bcbcbc;
}
