.theme-a {
  .usersmanage {
    .tabletools {
      .table-btn {
        &:hover {
          color:#192b27;
          opacity: 0.7;
          background-color: #aedfda;
        }
      }
    }
  }
}
// ----------------------bbbbbbbbbbbb---------
.theme-b {
  .usersmanage {
    .tabletools {
      .table-btn {
        &:hover {
          color:#f3d2d7;
          opacity: 0.7;
          background-color: #c45359;
        }
        }
      }
    }
  }
  // ----------------cccccccccc---------
  .theme-c {
    .usersmanage {
      .tabletools {
        .table-btn {
          &:hover {
            color:#000;
            opacity: 0.7;
            background-color: #f0cf36;
          }
          }
        }
      }
    }
// -------dddddddddddddddddddddd--------------------------
.theme-d {
  .usersmanage {
    .tabletools {
      .table-btn {
        &:hover {
          background-color: #61a7b3;
          color: #dbeaed;
        }
        }
      }
    }
  }
.usersmanage {
  background-color:#e1e1e1;
  width:e("calc(100% - 120px)");
  height: e("calc(100% - 40px)");
  .tabletools {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .table-btn {
      margin-left: 20px;
      border: none;
      // border-radius: 20px;
      font-size: 0.875rem;
      .mar-rig {
        margin-right: 8px;
      }
      &:hover {
        background-color: #bbd4f2;
        color: #000;
      }
    }
  }
  .tableshow {
    min-width: 680px;
    border:1px solid #c9c9c9 ;
    background-color: #e7e7e7;
  }

  //�û�����ʽ
  .userform {
    .el-dialog--small {
      width: 362px;
    }
  }
  
  .passWordReset {
    .el-dialog--small {
    width: 430px;
  }
}
}